.header-container {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.header-links {
  display: flex;
  align-items: end;
}

.header-links a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}
