.header-container {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.header-links {
  display: flex;
  align-items: end;
}

.header-links a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

.hero-main-container {
  background-color: #1f2937;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.hero-main-container h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-main-container p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main-container button {
  background-color: #3882f6;
  color: #f9faf8;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.hero-main-container img {
  height: 300px;
}

.left {
  flex: 1;
  padding: 120px;
}

.right {
  flex: 1;
  padding: 120px;
}

.hero-secondary-container {
  text-align: center;
}

.hero-secondary-container h2 {
  margin: 15;
}

.hero-secondary-container-cubes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  margin: 10px;
  border-radius: 15px;
}

.cube-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
}

.text {
  text-align: center;
  margin: 10px;
  width: 150px;
}

.quote-container{
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: light;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.quote-container-text {
  text-align: center;
  width: 750px;
}

.quote-container-author{
  text-align: end;
  font-weight: bold;
  font-size: 32px;
}